.tieude1{
    color: red;
    text-align: center;
    font-size: 50px;
}
.tho1{
    font-size: 14px;
    color: aliceblue;
    background-color: aqua;   
}
.tho2{
    font-size: 14px;
    color: yellow;
    background-color: bisque;

}